<div class="container-fluid py-4">

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-white">
          <h6 class="m-0 font-weight-bold text-danger">Detalles de la Petición</h6>
        </div>
        <div class="card-body">
<!--          @if (errorMsg()?.length) {-->
<!--            @for (msg of errorMsg(); track $index) {-->
<!--              <div class="alert alert-danger" role="alert">-->
<!--                <p>{{ msg }}</p>-->
<!--              </div>-->
<!--            }-->
<!--          }-->
          <app-petition-form mode="show" [initialData]="petition()"></app-petition-form>
        </div>
      </div>
    </div>
  </div>
</div>
