<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h3 mb-0 text-gray-800">Editar Usuario</h2>
      </div>
      <div class="card shadow mb-4">
        <div class="card-header py-3 bg-white">
          <h6 class="m-0 font-weight-bold text-danger">Detalles del Usuario</h6>
        </div>
        <div class="card-body">

          <form method="POST" enctype="multipart/form-data" (ngSubmit)="updateUser()">
            <div class="col-md-4 mb-4">
              <img [src]="getImageUrl(currentUser.image)"
                   class="img-fluid rounded shadow-sm w-100"
                   style="object-fit: cover; max-height: 250px;"
                   alt="Imagen de la petición">
            </div>

            <div class="mb-3">
              <label for="name" class="form-label fw-semibold">Nombre</label>
              <input type="text" class="form-control" id="name" name="name"
                     [value]="currentUser.name" required [(ngModel)]="currentUser.name">
            </div>

            <div class="mb-4">
              <label for="image" class="form-label fw-semibold">Imagen Principal (Opcional)</label>
              <input class="form-control" type="file" id="image" name="image"  [(ngModel)]="currentUser.image">
              <div id="imagenHelp" class="form-text">Sube una imagen representativa para tu petición.</div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">Email</label>
              <input type="email" class="form-control" id="email" name="email"
                     [value]="currentUser.email" required [(ngModel)]="currentUser.email">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label fw-semibold">Contraseña</label>
              <input type="password" class="form-control" id="password" name="password"
                     [value]="currentUser.password" required  [(ngModel)]="currentUser.password">

            </div>

            <hr class="my-4">

            <div class="d-flex justify-content-end">
              <a [routerLink]="['/profile']" class="btn btn-secondary me-2">Cancelar</a>
              <button type="submit" class="btn btn-danger">
                Guardar Usuario
              </button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>

