<section class="pt-5 pb-3 border-top mt-5">
  <div class="container ">
    <div class="row mb-5 border-bottom ">

      <div class="col-6 col-md-3">
        <h5 class="fw-bold mb-3 text-dark">Acerca de</h5>
        <ul class="list-unstyled fw-normal">
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Sobre Change.org</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Impacto</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Empleo</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Equipo</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3">
        <h5 class="fw-bold mb-3 text-dark">Comunidad</h5>
        <ul class="list-unstyled fw-normal">
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Prensa</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Normas de la Comunidad</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-4 mt-md-0">
        <h5 class="fw-bold mb-3 text-dark">Ayuda</h5>
        <ul class="list-unstyled fw-normal">
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Ayuda</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Guías</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Privacidad</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Términos</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Declaración de accesibilidad</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Política de cookies</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Gestionar cookies</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3 mt-4 mt-md-0">
        <h5 class="fw-bold mb-3 text-dark">Redes sociales</h5>
        <ul class="list-unstyled fw-normal">
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">X</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Facebook</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">Instagram</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none text-secondary">TikTok</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">

      <div class="text-secondary small mb-3 mb-md-0">
        <p class="mb-1 text-dark">© 2025, Change.org, PBC</p>
        <p class="fw-normal">Esta web está protegida por reCAPTCHA y por Google
          <a href="#" class="text-decoration-none text-primary">Política de privacidad</a> y
          <a href="#" class="text-decoration-none text-primary">Normas de uso.</a>
        </p>
      </div>

      <div class="mb-3 mb-md-0">
        <select class="form-select form-select-sm" aria-label="Selector de idioma">
          <option selected>Español (España)</option>
          <option value="en">English (US)</option>
          <option value="fr">Français</option>
        </select>
      </div>
    </div>

  </div>
</section>
